node_modules
npm-debug.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
README.md
.eslintrc.json
coverage
.nyc_output
*.log
logs
.DS_Store
Dockerfile
.dockerignore
dist
build
